<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GREEN WALLET - Mnemonic Phrase</title>
    <style>
        body {
            background-color: #2ecc71; /* Green background color */
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #ffffff; /* White header text color */
            margin-top: 50px;
        }

        p1 {
            font-size: 18px;
            color: #ffffff; /* White text color */
        }

        p2 {
            font-size: 16px;
            color: #ffffff; /* White text color */
        }

        button {
            background-color: #27ae60; /* Green button color */
            color: #ffffff; /* White text color */
            font-size: 16px;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            margin-top: 20px;
        }

        button:hover {
            background-color: #219151; /* Darker green on hover */
        }
    </style>
</head>
<body>
    <h1>Your Mnemonic Phrase</h1>
    <p1>NOTE THIS DOWN AND STORE SAFELY</p1>
    <br>
    <br>
    <p2><strong>Your mnemonic phrase:</strong>  </p2>
    <br>
    <p3><i><%= phrase1 %></i></p3>

    <br>
    
    <button onclick="redirectToPage2()">Proceed</button>

    <script>
        // JavaScript function to redirect to "/dash"
        function redirectToPage2() {
            // Redirect to the "/dash" route
            window.location.href = "/dash";
        }
    </script>
</body>
</html>
